body, html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #1a2857; /*navy blue*/
}

a {
	text-decoration: none;
	color: #0aa87e;
}

a:hover {
	color: #1a2857;
}

img {
	width: 40%;
	margin: 10px;
}

li {
	padding-bottom: 10px;
}

table {
	border-collapse: collapse;
	border: 3px #1a2857 solid;
	margin-left: 25px;
	margin-right: 25px;
}

th {
	border: 1px #1a2857 solid;
	border-bottom: 3px #1a2857 solid;
	font-size: 18px;
	width: 33.33%;
}

td {
	border: 1px #1a2857 solid;
	width: 33.33%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

tr:hover {
	background-color: #cae6de;
}

.tableWeekday {
	width: 15%;
}

#nav {
	background: linear-gradient(#0aa87e, #80d9c3); /*teal*/
	height: 80px;
	border-bottom: white 1px solid;
}

#links {
	position: absolute;
	top: 0;
	right: 0;
}

#logo {
	padding: 20px;
	float: left;
	color: white;
}

#logo p {
	font-family: 'Raleway', sans-serif; 
	margin-left: 10px;
	padding-left: 10px;
	display: block;
	border-left: 1px white solid;

	position: absolute;
	top: 8px;
	left: 140px;
}

#logo a, #logo a:visited {
	text-decoration: none;
	line-height: 40px;
	color: white;
	font-size: 40px;
	font-family: 'Kaushan Script', cursive;
}

/*#logo a {
	transition: font-size 0.5s;
}

#logo a:hover {
	font-size: 42px;
}*/

.navitem {
	float: left;
	line-height: 40px;
	text-align: center;
	/*padding: 0;*/

	/*margin-left: auto;
	margin-right: auto;
	width: 25%;*/
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 20px;
}

.navitem a {
	text-decoration: none;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

.navitem a:hover {
	color: #c2f0ad;	
}

/*.navitem ul {
	visibility: hidden;
	list-style: none;

	position: absolute;
	margin: 0;
	padding: 0;
	top: 80px;
}

.navitem li {
	float: left;
	position: relative;
}

.navitem li a {
	text-decoration: none;
	display: block;
	line-height: 30px;
	text-align: center;
	width: 100%;
	height: 30px;
	background: rgba(26, 40, 87, 0.5);
}*/

/*.navitem ul:hover ul {
	visibility: visible;
}

.navitem li a:hover {
	background-color: #0aa87e;
}*/

.clear {
	clear: both;
}

#content {
	background-color: #e4f2ee;
	border-left: 5px #0aa87e solid;
	border-top: 5px #0aa87e solid;
	border-radius: 10px;	
	width: 85%;

	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 50px;
	padding: 20px;

	font-family: 'Raleway', sans-serif;
}

#content-title {
	font-family: 'Kaushan Script', cursive;
	font-size: 40px;
	border-bottom: 2px #0aa87e solid;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.subtitle {
	font-size: 25px;
	font-weight: bold;
	padding-top: 10px;
}

.leftimg {
	width: 100%;
	clear: both;
	margin: 0;
	margin-top: 10px;
}

.rightimg {
	width: 100%;
	clear: both;
	margin: 0;
	margin-top: 10px;
}

#copyright {
	color: white;
	background-color: #1a2857;
	font-size: 10px;
	border-top: white 1px solid;
	margin-top: 20px;

	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 6px;
}

@media only screen and (min-width: 768px) {
	#content {
		width: 70%;
	}
	.leftimg {
		width: 40%;
		float: left;
		margin: 10px;
		margin-left: 0;
	}
	.rightimg {
		width: 40%;
		float: right;
		margin: 10px;
		margin-right: 0;
	}
	.navitem {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media screen and (min-width: 992px) {
	
}

@media screen and (min-width: 1020px) {
	#content {
		width: 60%;
	}
	.navitem {
		margin-left: 35px;
		margin-right: 35px;
	}
}